<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Best Tunisia Travel   <img src="assets/flag.png" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink=""  routerLinkActive="actif" [routerLinkActiveOptions]="{exact:true}" >Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="hotels" routerLinkActive="actif">Hotels en Tunisie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="a propos" routerLinkActive="actif">A propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="actif">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="creer" routerLinkActive="actif">S'inscrire</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>