<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 b-height">
            <div class="row b-wrapper"> 
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 b-min-height">
                    <div class="b-title text-center">
                        <br><br><h1 class="user_title">Bienvenue</h1>
                        <p class="user_subTitle">Pour rester connecté avec nous, s'il vous plait <br> connectez-vous avec vos informations personelles.</p>
                        <button type="button" routerLink="/connexion" id="connecter" class="swift sign_in">Se connecter</button>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                    <div class="b-form text-center">
                        <div class="b-form-title">
                            <h1 class="form_title">Creer votre compte</h1>
                            <p>
                                <span><a href="https://www.facebook.com/help.programmingguide" target = "_blank"><i class="fab fa-facebook-f"></i></a></span>
                                <span><a href="https://mobile.twitter.com/haboubi_sinda" target = "_blank"><i class="fab fa-twitter"></i></a></span>
                                <span><a href="https://www.instagram.com/loupe_informatique/" target = "_blank"><i class="fab fa-instagram"></i></a></span>
                            </p>
                            <p class="b-subtext">ou nous contacter</p>
                        </div>

                        <form [formGroup]="creerForm" (ngSubmit)="creer()">
                            <div class="form-group ">
                                <input type="text" id="nom" class="form-control" formControlName="nom" placeholder="Nom d'utilisateur" /><i class="fas fa-user b-font"></i>
                                
                                <span *ngIf="nom.errors" style="color:red;text-align:center">
                                    <span *ngIf="nom.errors.required && nom.touched">Le nom d'utilisateur est obligatoire</span>
                                    <div *ngIf="nom.errors.minlength && nom.dirty">Le nom d'utilisateur doit contenir au moins 8 caractères</div>
                                </span>
                            </div>
                            
                            <div class="form-group">
                                <input type="email" id="nom" class="form-control" formControlName="email" placeholder="Email"/><i class="fas fa-envelope b-font"></i>

                                <div *ngIf="email.errors" style="color:red;text-align:center">
                                    <div *ngIf="email.errors.required && email.touched">l'adresse e-mail est obligatoire</div>
                                    <div *ngIf="email.errors.email && email.dirty">Veuillez entrer une adresse e-mail valide !</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="number" id="nom" class="form-control" formControlName="numTel" placeholder="Numéro de téléphone" /><i class="fas fa-phone b-font"></i>

                                <div *ngIf="numTel.errors" style="color:red;text-align:center">
                                    <div *ngIf="numTel.errors.required && numTel.touched">Le numéro de téléphone est obligatoire</div>
                                    <div *ngIf="numTel.errors && numTel.dirty">Le numéro de téléphone doit débuter par le nombre "216" suivi de 8 chiffres </div>
                                </div>
                            </div> 

                            <div class="form-group">
                                <input type="password" id="mot_de_passe" class="form-control" formControlName="password" placeholder="Mot de passe" /><i class="fas fa-unlock-alt b-font"></i>

                                <div *ngIf="password.errors" style="color:red;text-align:center">
                                    <div *ngIf="password.errors.required && password.touched">Le mot de passe est obligatoire</div>
                                    <div *ngIf="password.errors.minlength && password.dirty">Le mot de passe doit contenir au moins 6 caractères</div>
                                </div>
                            </div>

                            <button type="submit" class="sign_up" [disabled]="creerForm.invalid" >Créer</button>
                        </form>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
