<div class="container-fluid footer mt-5">
    <div class="row">

        <div class="col-lg-6 mt-3 mb-3">
            <h1>Best Tunisia Travel</h1>
            <p>Hotels en meuilleures qualités.</p>
        </div>

        <div class="col-lg-4 mt-3 mb-3">
            <a routerLink="">Accueil</a>
            <a routerLink="hotels">Hotels</a>
            <a routerLink="a propos">A propos</a>
            <a routerLink="contact">Contact</a>
        </div>

        <div class="col-lg-2 mt-3 mb-3">
            <a href="#" target="_blank"><i class="bi bi-facebook" id="facebook"></i></a>
            <a href="https://mobile.twitter.com/haboubi_sinda" target="_blank"><i class="fab fa-twitter" id="twitter"></i></a>
            <a href="https://www.instagram.com/loupe_informatique/?hl=fr" target="_blank"><i class="bi bi-instagram" id="instagram"></i></a>
            <a href="#" target="_blank"><i class="bi bi-youtube" id="youtube"></i></a>
        </div>
    </div>
</div>