<br>
<h3> Équipements </h3>
	<ul class="row  list-unstyled no-gutters">
		<li class="col-4 py-2" *ngIf="equipement?.parking"><i class="fas fa-parking  pr-1  align-middle"></i> <span> Parking </span></li> 
        <li class="col-4 py-2" *ngIf="equipement?.piscine"><i class="fas fa-swimmer  pr-1  align-middle"></i><span> Piscine </span></li> 
        <li class="col-4 py-2" *ngIf="equipement?.wifi"><i class="fas fa-wifi  pr-1  align-middle"></i> <span> Wifi Internet sans fil</span></li> 
        <li class="col-4 py-2" *ngIf="equipement?.plage"><i class="fas fa-umbrella-beach  pr-1  align-middle"></i> <span> Plage</span></li> 
        <li class="col-4 py-2" *ngIf="equipement?.restaurant"><i class="fas fa-pizza-slice  pr-1  align-middle"></i> <span> Restaurant</span></li> 
        <li class="col-4 py-2" *ngIf="equipement?.bien_etre"><i class="bi bi-emoji-smile-fill  pr-1  align-middle"></i> <span> Bien etre</span></li> 
        <li class="col-4 py-2" *ngIf="equipement?.golf"><i class="fas fa-golf-ball  pr-1  align-middle"></i> <span> Golf</span></li> 
        <li class="col-4 py-2" *ngIf="equipement?.club_enf"><i class="fas fa-gamepad  pr-1  align-middle"></i> <span> Club enfants</span></li> 
        <li class="col-4 py-2" *ngIf="equipement?.piscine_couverte"><i class="	fas fa-swimming-pool  pr-1  align-middle"></i> <span> Piscine couverte</span></li> 
    </ul>