<div class="container mt-5 mb-5" style="font-size:20px">

    <h1 class="text-center">A propos</h1>

    <p>Pour notre site <strong>Best Tunisia Travel</strong>  , le management de la qualité fait partie intégrante de la culture et de la stratégie de l’entreprise afin de proposer à ses clients des prestations répondant leurs attentes.
        <br>
        Notre politique Qualité se décline conformément à nos valeurs définies comme il suit :<br>
    
        <strong>Fiabilité – Authenticité – Créativité – Éthique – Qualité – Respect .</strong><br>

        <strong>Best Tunisia Travel</strong> , site 100% « Made in Tunisia », vous invite à Découvrir ou Redécouvrir la Tunisie, ce pays à l’Histoire Millénaire et aux paysages multiples niché au cœur du bassin Méditerranéen.
        Best Tunisia Travel , est le fruit de la rencontre inévitable d’une équipe qui se compose d’hôteliers, d’agents de voyages, de concepteurs de circuits et de guides professionnels.
Une expérience du Tourisme International à l’écoute des exigences diverses du client.<br>
Ce site n’est pas une simple vitrine de vente Online. Nous ne sommes pas un prestataire de services ordinaire entre le client et les fournisseurs (hôtels,etc..).<br>
Nous ne commercialisons pas nos produits aux prix les moins chers. Nous ne faisons pas dans la sous enchère pour faire attirer le client et lui proposer une offre qui ne répond pas à ses attentes.
    </p>
</div>