<form [formGroup]="tarifsForm" (ngSubmit)="onSubmit()" class="col-lg-12">
    <div class="row">
        <div class="col-lg-3 mt-2 mb-2">
            <label for="d_arrive">Date Arrivée</label>
            <input type="date" formControlName="d_arrive" id="date_arrive" class="form-control"/>
        </div>
        <div *ngIf="d_arrive.invalid  && d_arrive.touched" class="alert alert-danger">
            La date d'arrivé est obligatoire
        </div>

        <div class="col-lg-3 mt-2 mb-2">
            <label for="d_depart">Date départ</label>
            <input type="date" formControlName="d_depart" id="d_depart" class="form-control" />
        </div>
        <div *ngIf="d_depart.invalid  && d_depart.touched" class="alert alert-danger">
            La date de départ est obligatoire
        </div>

        <div class="col-lg-2 mt-2 mb-2">
            <label for="nb_adultes">Nombre des adultes</label>
            <input type="number" min=1 max=4 formControlName="nb_adultes" id="nb_adultes" class="form-control"/>
            <div *ngIf="nbAdultes.invalid && nbAdultes.touched" class="alert alert-danger">
                Le nombre des adultes est obligatoire
            </div>

            <div *ngIf="nbAdultes.errors?.min" class="alert alert-danger">
                Il faut avoir au moins un adulte !
            </div>

            <div *ngIf="nbAdultes.errors?.max" class="alert alert-danger">
                Il faut avoir 4 adultes au maximum !
            </div>
        </div>

        <div class="col-lg-3 mt-2 mb-2">
            <label for="nb_enf">Nombre des enfants (2-12 ans)</label>
            <input type="number" value=0 min=0 max=1 formControlName="nb_enf" id="nb_enf" class="form-control" />

            <div *ngIf="nb_enf.errors?.max" class="alert alert-danger">
                Il faut avoir au maximum un enfant de 2 à 12 ans.
            </div>
        </div>

        <div class="col-lg-5 mt-2 mb-2">
            <label for="type_pension">Type de pension</label>
            <select
              formControlName="type_pension"
              *ngIf="lesHotels" id="type_pension"
              class="form-control"
              (change)="selectedPension = $any($event).target.value">
                <option *ngFor="let p of lesHotels.pension">{{p.libelleP}}</option>
            </select>
        </div>
    </div>
    <br>
    <button (click)="typeChambre()" (click)="calculerPrix()" class="btn btn-success" [disabled]="tarifsForm.invalid">Calculer le prix total</button>
    <input type="button" value="Réinitialiser" (click)="onVider()" class="btn btn-warning">
    <div >
        {{typeChamb}} <br>
        {{prix_total}} 
<!--         <button (click)="getPrice()">Aff prix</button>
        <button (click)="getDate1()">Aff date</button> -->
      </div>
    </form>

